<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>

	<typeAliases>
		<typeAlias type="cn.gordon.mybatis.model.DemoEbo" alias="demo" />
		<typeAlias type="cn.gordon.mybatis.model.StudentEbo" alias="student" />
	</typeAliases>
	
	<mappers>
		<mapper resource="cn/gordon/mybatis/dao/demo/DemoMapper.xml" />
		<mapper resource="cn/gordon/mybatis/dao/student/StudentMapper.xml" />
	</mappers>
	
</configuration>