<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gordon.mybatis.dao.student.StudentMapper">

	<resultMap id="stuResultMap" type="student">
		<id property="id" column="id"/>
		<result property="stuId" column="stu_id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="birthday" column="birthday"/>
		<result property="clsId" column="cls_id"/>
	</resultMap>
	
	<select id="getAllStudent" resultType="student" resultMap="stuResultMap">
		<![CDATA[
			SELECT * FROM student
		]]>
	</select>
	
	<select id="getStudentById" parameterType="int" resultType="student" resultMap="stuResultMap">
		<![CDATA[
	        SELECT * FROM student WHERE id = #{id}
	    ]]>
	</select>
	
	<select id="getStudentByStuId" parameterType="string" resultType="student" resultMap="stuResultMap">
		<![CDATA[
	        SELECT * FROM student WHERE stu_id = #{stuId}
	    ]]>
	</select>
	
	<insert id="insertStudent" parameterType="student">
		<![CDATA[
			INSERT INTO student (stu_id, name, sex, birthday, cls_id) 
			VALUES (#{stuId}, #{name}, #{sex}, #{birthday}, #{clsId})
		]]>
	</insert>
	
	<delete id="deleteStudentById" parameterType="int">
		<![CDATA[
			DELETE FROM student WHERE id = #{id}
		]]>
	</delete>
	
	<update id="updateStudentById" parameterType="map">
		<![CDATA[
			UPDATE student SET name = #{name} WHERE id = #{id}
		]]>
	</update>
	
</mapper>